body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 16px;
  color:#293264;
  background: #F5F7FB;
  box-sizing: border-box;
}

.intro {
  position: relative;
  width: 100%;
}

.intro--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.intro--title{
  font-weight: 700;
  font-size: 2rem;
  line-height: 37px;
  margin: 0;
}

.intro--subtitle {
  font-weight: 400;
  font-size: 1rem;
}

.intro--startBtn {
  background: #4D5B9E;
  border: none;
  border-radius: 15px;
  padding: 1rem 3rem;
  color: #F5F7FB;
  font-size: 16px;
  font-family: inherit;
  margin-top: 1rem;
  cursor: pointer;
}

.intro--startBtn:hover,
.intro--startBtn:focus {
  background-color: #494f6e;
}

/* .intro--blob-1 {
  position: absolute;
  left: -30%;
  right: 0%;
  top: -30%;
  bottom: 0%;
  width: 30rem;
  opacity: 0.6;
} */

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2em;
  width:90%;
}

.question-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: left;
}

.question {
  font-size: 1rem;
  width: 100%;
}

.options-container {
  display: flex;
  justify-content: flex-start;
}

.option {
  padding: 0.75em 2em;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  font-family: inherit;
  background: transparent;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 12px;
  margin-right: 2em;
}

hr {
  border: 1px solid #DBDEF0;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
}